body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  margin-top: 50px;
}

.hidden {
  display: none;
}

button {
  background: #3b82f6;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
}
h2 {
  text-align: center;
}

#logoutBtn {
  margin-top: 20px;
  background: red;
}